@charset "UTF-8";

/* ********************************************************
   Fonts
   ***************************************************** */

@font-face {
  font-family: 'MySlowWebfont';
  src: url('https://slowfil.es/file?type=woff2&delay=2500') format('woff2');

  /* TODO: Font Display Strategy */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  /* font-display:[auto|block|swap|fallback|optional]; */
  /* font-display: block; */
}

@font-face {
  font-family: 'MontserratLocal';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

/* ********************************************************
   Basics
   ***************************************************** */

* {
  box-sizing: border-box;
}

html {
  font-size: 1.25rem;
  line-height: 1.35;
}

body {
  /* TODO: Genutzte Webfont ändern */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'MontserratLocal', sans-serif;
  /*font-family: "MySlowWebfont", sans-serif;*/
}

h1, 
h2, 
h3 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

/* ********************************************************
   Layout
   ***************************************************** */

header,
main,
footer {
  margin: 2rem auto;
  max-width: calc(60rem + 2vw);
  padding: 0 2vw;
  width: 100%;
}

header {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 48rem) {
  header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}


section {
  margin: 2rem 0;
}


/* ********************************************************
   Sections
   ***************************************************** */

.sourcebar {
  background-color: rgb(250 250 250);
  border-bottom: 1px rgb(234 234 234) solid;
  font-size: 0.8rem;
  text-align: center;
  padding: 4px 16px;
}

.sourcebar a {
  color: inherit;
}

.hero-image {
  background-image: url('/images_unoptimized/png/hero.png');
  background-size: cover;
  padding-bottom: 56.25%;
}

.hero-figure {
  aspect-ratio: 16/9;
}

.teasers img {
  aspect-ratio: 16/9;
}

.teasers .avatarlink img {
  aspect-ratio: 1;
}

h2,
h3, 
article p {
  margin: 0.3em 0;
}

.heading + .text p {
  margin-top: 1.5rem;
}

.avatarlink {
  display: flex;
  align-items: center;
  gap: 1em;
}
.avatarlink img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}


/* ********************************************************
   Layout Utilities
   ***************************************************** */

.lu-container-50-50 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media screen and (min-width: 48rem) {
  .lu-container-50-50 {
    grid-template-columns: 1fr 1fr;
  }
}

/* ********************************************************
   Meta
   ***************************************************** */

.sourcebar {
  background-color: rgb(250 250 250);
  border-bottom: 1px rgb(234 234 234) solid;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.3rem 1rem;
}

.sourcebar a {
  color: inherit;
}
